@import 'legacy';

$NAMESPACE: 'gds';

$iframe-border-color: #e3e3e3;
$minimum-supported-viewport: 900px;
$spinner-color: #292961;
$spinner-size: 40px;

$issuable-sidebar-width: 289px;
$modern-sidebar-width: 400px;
$sidebar-width: calc(100vw - #{$issuable-sidebar-width});
$sidebar-min-width: 820px;
$sidebar-max-width: 1000px + $modern-sidebar-width;
// Minimum width at which the min-width: 820px stops being effective;
$min-width-breakpoint: $sidebar-min-width + $modern-sidebar-width;
$max-width-breakpoint: $sidebar-max-width / (70% / 100%);

$new-list-button-clearance: 150px;
$board-min-extra-spacing: $sidebar-min-width + $new-list-button-clearance;
$board-extra-spacing: calc(100vw - #{$issuable-sidebar-width - $new-list-button-clearance});
$board-max-extra-spacing: $sidebar-max-width + $new-list-button-clearance;

.#{$NAMESPACE}-sidebar {
  @media (min-width: #{$minimum-supported-viewport}) {
    body:not(.#{$NAMESPACE}--collapsed) & {
      display: grid;
      grid-template-columns: auto $modern-sidebar-width;
      grid-template-rows: auto 1fr;
      max-width: $sidebar-max-width;
      min-width: $sidebar-min-width;
      width: $sidebar-width !important;
    }

    .#{$NAMESPACE}-sidebar-header .gl-drawer-title > h2 {
      flex-basis: 70%;
    }
  }
}

.#{$NAMESPACE}-iframe {
  border-right: 1px solid $iframe-border-color;
  grid-row-end: 3;
  grid-row-start: 1;
  position: relative;
  transition: opacity .15s;

  @media (max-width: #{$minimum-supported-viewport - 1px}) {
    display: none;
  }

  iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
  }

  &--loading {
    opacity: 0;
  }

  body.#{$NAMESPACE}--collapsed .#{$NAMESPACE}-sidebar & {
    display: none;
  }
}

.#{$NAMESPACE}-expanded-toggle {
  background: transparent;
  border: 0 none;
  font-size: 22px;
  padding: 0;
  text-align: right;

  @media (max-width: #{$minimum-supported-viewport - 1px}) {
    display: none !important;
  }

  &::after {
    content: '»';
  }

  &--collapsed::after {
    content: '«';
  }

  .#{$NAMESPACE}-sidebar-header.gl-drawer-header & {
    height: 24px;
    width: 24px;

    &::after {
      font-size: 20px;
    }
  }
}

.#{$NAMESPACE}-loading-spinner {
  display: block;
  height: #{$spinner-size};
  left: 50%;
  margin: -#{$spinner-size / 2} -#{$spinner-size / 2} 0 0;
  position: absolute;
  top: 50%;
  width: #{$spinner-size};
  z-index: -1;

  &::after {
    animation: #{$NAMESPACE}-loading-spinner 1s linear infinite;
    border: #{$spinner-size * .075} solid $spinner-color;
    border-color: $spinner-color transparent $spinner-color transparent;
    border-radius: 50%;
    content: '';
    display: block;
    height: #{$spinner-size * .8};
    margin: #{$spinner-size * .1};
    width: #{$spinner-size * .8};
  }
}

// TODO: #53 remove margin when the sidebar is closed
body:not(.#{$NAMESPACE}--collapsed) {
  .boards-list {
    @media (min-width: $minimum-supported-viewport) {
      padding-right: $board-min-extra-spacing;
      box-sizing: content-box;
      width: 100%;
      min-width: 100vw;
    }
    @media (min-width: $min-width-breakpoint) {
      padding-right: $board-extra-spacing;
    }

    @media (min-width: $max-width-breakpoint) {
      padding-right: $board-max-extra-spacing;
    }
  }
}

@keyframes #{$NAMESPACE}-loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
